In [1]:
# Functions

In [2]:
myName = "eymen"

In [5]:
myName.upper()

'EYMEN'

In [6]:
myName

'eymen'

In [10]:
def helloPython():
    print("hello Python")

In [11]:
helloPython()

hello Python

In [13]:
def helloName(name):
    print(f"hello {name}")

In [18]:
helloName("eymen")

hello eymen

In [19]:
helloName("c#")

hello c#

In [36]:
def sumExample(number1, number2):
    return number1+number2

In [38]:
sumExample(34,99)

133

In [44]:
def controlString(s):
    if s[0] == "a":
        print("first chracter is a")
    else:
        print("first chracter is NOT a")

In [45]:
controlString("badana")

first chracter is NOT a

In [46]:
controlString("adana")

first chracter is a

In [47]:
## args , kwargs   (arguments , key word arguments)

In [49]:
def argSum(*args): 
    return sum(args)

In [50]:
argSum(100,300,33)

433

In [51]:
def argExample(*args):
    print(args)

In [52]:
argExample(123,323,5342,12313,895)

(123, 323, 5342, 12313, 895)

In [55]:
def kwargExample(**kwargs): # creates a dictionary
    print(kwargs)

In [56]:
kwargExample(apple= 100, banana = 200, melon = 200)

{'apple': 100, 'banana': 200, 'melon': 200}

In [81]:
def kwargAnotherExample(**kwargs): # creates a dictionary
    if("apple" in kwargs.keys()):
        print("here is the apple")

In [82]:
kwargAnotherExample(apple= 100, banana = 200, melon = 200)

here is the apple